/* ------------------------- Universal Styles ---------------------------  */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.3s ease;
}






/* ------------------------- Navbar Section ---------------------------  */

header,
section,
footer {
    text-align: center;
    padding: 20px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    background-color: #03045e;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 16px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    border-radius: 20px;
    background-color: #0077b6;
    color: #fff;
}

section {
    padding: 50px;
    min-height: 100vh;
    border-bottom: 1px solid #ccccccbe;
    background-color: #f9f9f9;
}

#title {
    margin-top: 20px;
    padding-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.674);
    color: black;
    position: relative;
    overflow: hidden;
}

#title h1::after {
    animation: blink-caret 0.75s step-end infinite;
    display: inline-block;
    vertical-align: middle;
}

#title h1 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    animation: typing 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        max-width: 0;
    }

    to {
        max-width: 100%;
    }
}









/* ------------------------- Home Section ---------------------------  */

#home {
    background-color: #fff;
    /* Dark Charcoal Gray */
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    text-align: center;
    overflow: hidden;
}


.slider-container {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    box-sizing: border-box;
    position: relative;
}

.slide img {
    width: 100%;
    height: 200px;
    max-width: 300px;
    height: auto;
    margin: 30px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}








/* ------------------------- About Section ---------------------------  */

#about {
    background-color: #f4f4f4;
    padding: 50px;
    text-align: center;
}

#about h2 {
    color: #333;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.about-image {
    flex: 1;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.about-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.about-image:hover {
    transform: scale(1.1);
}

.about-text {
    flex: 1;
    text-align: left;
}

.about-text p {
    font-size: 18px;
    line-height: 1.8;
    color: #666;
    margin-bottom: 20px;
}


@media screen and (max-width: 768px) {
    #about {
        padding: 30px;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .about-image {
        margin-right: 0;
    }
}








/* ------------------------- Best Products Section ---------------------------  */

.image {
    height: 500px;
    border-radius: 10px;
    margin: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.25s ease;
    border: 2px solid #333;
}

.image:hover {
    border-radius: 30px;
    transform: scale(1.1);
    border: 5px solid #333;
}

.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: #1a1a1a;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}









/* ------------------------- Services Section ---------------------------  */


#services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.service {
    position: relative;
    width: 30%;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}

.service img {
    max-width: 100%;
    height: 500px;
    transition: transform 0.3s ease-in-out;
}

.service:hover img {
    transform: translateY(-10px);
}

.service::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.3);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.service:hover::before {
    opacity: 1;
}

.service-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.service:hover .service-text {
    opacity: 1;
    top: 0;
}

.service-text h3,
.service-text p {
    color: #fff;
}

#services h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .service {
        width: 45%;
    }
}

@media screen and (max-width: 576px) {
    .service {
        width: 100%;
    }
}



.text {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    /* White */
    font-size: 24px;
    width: 70%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .text {
        font-size: 18px;
        width: 80%;
    }
}

@media screen and (max-width: 576px) {
    .text {
        font-size: 16px;
        width: 90%;
    }
}










/* ------------------------- Contact Forms Section ---------------------------  */

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    position: relative;
}

.form-group {
    margin-bottom: 16px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #1a1a1a;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #333;
}

.form-cont {
    background-color: #f4f4f4;
    padding: 20px;
}

@media (max-width: 768px) {
    section {
        padding: 60px 10px;
    }

    nav {
        flex-direction: column;
        position: static;
    }

    nav a {
        padding: 10px;
    }
}